@import "../../../node_modules/normalize.css/normalize";

//fonts
@font-face {
  font-family: Aleo;
  src: url(../../../static/fonts/aleo/aleo-regular.otf);
}

@font-face {
  font-family: Aleo;
  src: url(../../../static/fonts/aleo/aleo-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Aleo;
  src: url(../../../static/fonts/aleo/aleo-italic.otf);
  font-style: italic;
}

@font-face {
  font-family: Aleo;
  src: url(../../../static/fonts/aleo/aleo-lightitalic.otf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Aleo;
  src: url(../../../static/fonts/aleo/aleo-light.otf);
  font-weight: 200;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_100.otf);
  font-weight: 200;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_100_italic.otf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_300.otf);
  font-weight: 300;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_300_italic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_500.otf);
  font-weight: 500;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_500_italic.otf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_700.otf);
  font-weight: 700;
}

@font-face {
  font-family: MuseoSans;
  src: url(../../../static/fonts/museosans/museosans_700_italic.otf);
  font-weight: 700;
  font-style: italic;
}

body,
html {
  width: 100%;
  height: 100vh;
  min-height: 100vh !important ;
  text-align: justify;
  font-weight: 300;
  min-width: 400px;
}

body {
  color: #303030;
  font-family: Aleo;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MuseoSans;
}

a {
  color: white;

  text-decoration: none;
  /* no underline */
}

main a {
  color: #4887c7;
}

::selection {
  background: #e55625;
  /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: #e55625;
  /* Gecko Browsers */
  color: white;
}

::visited {
  color: inherit;
}

b {
  font-weight: 800;
}

//burger menu
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  left: 90%;
  top: 33px;
  box-shadow: 0 0 3px 0 #303030;
  padding: 5px;
  border-radius: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
